{% extends "basehome.html" %}
{% load static %}
{% block title %}
    新乡工程学院
{% endblock %}

{% block content %}
  <!--轮播下面的内容-->
    <!-- 新闻动态 -->
    <div class="row">
        <div class="col-md-5">
            <span class="">
                <i></i>
                <a href="{% url 'zhaosheng:news' 'company' %}">招生信息</a>
            </span>
            <a class="btn btn-default btn-xs more-btn" href="{% url 'zhaosheng:news' 'company' %}">更多+</a>
            <div id="myCarousel2" class="carousel slide" data-ride="carousel" style="margin-top: 2%;">
              <ol class="carousel-indicators nav-point">
                {% for post in postList %}
                <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active"
                  {% endif %}>
                </li>
                {% endfor %}
              </ol>
                <!-- 轮播（Carousel）项目 -->
              <div id="news" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for post in postList %}
                    <div {% if forloop.first %} class="carousel-item item active" {% else %} class="carousel-item item" {% endif %} style="background-size:cover;">
                      <a href="{% url 'zhaosheng:newDetail' post.id %}">
                        <img src="{{post.photo.url}}" class="img-responsive img-thumbnail"  onload="DrawImage(this)"/>
                        <div class="carousel-caption">
                            <h6>{{post.title}}</h6>
                        </div>
                      </a>
                    </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div >
                <ul class="list-unstyled list-new">
                  {% for mynew in newList %}
                  <li>
                    <a href="{% url 'zhaosheng:newDetail' mynew.id %}">
                      {{mynew.title|truncatechars:"15"}}</a>
                    <span>【{{mynew.publishDate|date:"Y-m-d"}}】</span>
                  </li>
                  {% endfor %}
                </ul>
            </div>
        </div>

        <!-- 学校新闻 -->
        <div class="col-md-6" style="float:right;height: 725px; overflow: hidden;">
            <span class="">
              <i></i>
              <a href="{% url 'newsApp:news' 'school' %}">新闻</a>
            </span>
            <a class="btn btn-default btn-xs more-btn" href="{% url 'newsApp:news' 'school' %}">更多+</a>
            <!-- 学校新闻使用手风琴 -->
            <div id="accordion"  style="margin-top: 2%;">
                {% for new in newsList %}
                <div class="card" style="text-align: center;">
                    <div class="card-header">
                    <!-- 让第一个默认展开 -->
                    {% if forloop.first %}
                        <a class="btn" data-bs-toggle = "collapse" data-bs-parent="#accordion" href="#collapse{{new.id}}">
                    {% else %}
                        <a class="btn" data-bs-toggle = "collapse" data-bs-parent="#accordion"  href="#collapse{{new.id}}">
                    {% endif %}
                        {{new.title|truncatechars:"20"}}
                        </a>
                    <!-- 由于上面的if语句，所以会出现无法闭合问题，请忽略此报错 -->
                    </div>
                </div>
                <!-- 呈现暂开的内容 -->
                {% if forloop.first %}
                    <div id="collapse{{new.id}}" class="collapse show" data-bs-parent="#accordion">
                {% else %}
                    <div id="collapse{{new.id}}" class="collapse" data-bs-parent="#accordion">
                {% endif %}
                    <!-- 呈现内部细节 -->
                {% for img in new.newsImgs.all  %}
                    <div class="card-body">
                    {% if forloop.first %}
                         <a href="{% url 'newsApp:newsDetail' new.id %}" class="col-md-4">
                         <img class="img-thumbnail" alt="Cinque Terre" src="{{img.photo.url}}" alt="图片" style="width: 300px;height: 180px;float: right;">
                         </a>
                    {% endif %}
                           <p>{{new.description|truncatechars:"150"|linebreaks}}</p>
                    </div>
                {% endfor %}
                    <!-- 由于上面的if语句，所以会出现无法闭合问题，请忽略此报错 -->
                    </div>
            {% endfor %}
            <div id="school_phone" class="carousel slide" data-bs-ride="carousel" style="top: 30px;" >
            <div class="carousel-inner">
                {% for photo in school_photo %}
                <div {% if forloop.first %} class="carousel-item item active" {% else %} class="carousel-item item" {% endif %} >
                    <img src="{{photo.photo.url}}" class="img-thumbnail" alt="Cinque Terre" >
                    <div  class="carousel-caption">
                        <p style="text-align: center;">{{photo.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>

        </div>
    </div>




    <script>
$(function(){
        // 循环轮播到某个特定的帧
        $(".slide-one").click(function(){
            $("#myCarousel").carousel(0);
        });
        $(".slide-two").click(function(){
            $("#myCarousel").carousel(1);
        });
        $(".slide-three").click(function(){
            $("#myCarousel").carousel(2);
        });
        $(".slide-four").click(function(){
            $("#myCarousel").carousel(3);
        });
        $(".slide-five").click(function(){
            $("#myCarousel").carousel(4);
        });
        $(".slide-six").click(function(){
            $("#myCarousel").carousel(5);
        });
    });
</script>
<script>
        var myCarousel = document.querySelector('#school_phone')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 2000,//时间间隔
            wrap: true//轮播到最后一张图片时候继续轮播，true为继续
        })
        var myCarousel_top = document.querySelector('#school_phone')
        var carousel_top = new bootstrap.Carousel(myCarousel_top, {
            interval: 2000,//时间间隔
            wrap: true//轮播到最后一张图片时候继续轮播，true为继续
        })
</script>



  </div>
      <br>




    <!-- 活动专栏 -->
    <div class="row" style="height: 560px;flex-direction: row;">
        <div class="col-md-3">
            <div class="list-group" style="height: 560px;flex-direction: row;">
              <a href="https://www.haxk.edu.cn/ztzl/dsxx.htm" class="list-group-item list-group-item-warning" style="background-image:url(../../static/img/active/001.png);">专题 · 网站</a>
              <a href="http://xkxyxb.ihwrm.com/" class="list-group-item list-group-item-warning list-group-item-success" style="background-image:url(../../static/img/active/002.png);">党史学习</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-warning" style="background-image:url(../../static/img/active/003.png);">特色活动</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-warning" style="background-image:url('../../static/img/active/004.png');">媒体关注</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-warning" style="background-image:url('../../static/img/active/005.png');">Warning item</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="container mt-3">
                    <a href="#demo" class="btn btn-primary" data-bs-toggle="collapse">春日</a>
                    <div id="demo" class="collapse">
                      <p>人生无法重来 青春不可辜负；</p>
                      <p>书声琅琅，在破晓黎明前，孜孜不倦，</p>
                      <p>于万籁俱寂时，日光沐浴 星月相随 暮去朝又来，</p>
                      <p>加油！追逐梦想的实干家，让青春在笔尖悄悄绽放 绽放光芒</p>
                    </div>
               </div>
            </div>
        </div>
    </div>




{% endblock %}