{% load static %}
<!DOCTYPE html>
{#适合首页以外的其它页面#}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/DPlayer.min.js' %}"></script>
    <script src="{% static 'js/DPlayer.min.js.map' %}"></script>
    <script src="{% static 'js/jqthumb.min.js' %}"></script>

</head>
<body>
    <!--设置头部默认文件 -->

    <div class="body_home">
    <div class="header">
        <div class="d1">
            {#    设置导航条#}
            <nav class="navbar navbar-default" role="navigation" >
                <div class="container">
                    <div class="collapse navbar-collapse" id="bs-example">
                        <ul class="nav navbar-nav" >
                            <li class="nav-top" id="home">
                                <a href="{% url 'home' %}">
                                    院系
                                </a>

                                    <div class="nav_child">

                                        <div class="item s" style="left: 70.6625px;">

                                                <div class="l">
                                                    <div class="pic" style="width:230px;height: 200px;">
                                                        <img style=" width:230px;height: 200px;" src="{%  static 'img/list_banner01.jpg' %}" alt="学院logo">
                                                    </div>
                                                    <div class="txt" style="position: relative;left: 51px; top: 41px;">知行日新<br>
                                                        至善至真</div>
                                                </div>
                                                <div class="r" >
                                                    <a href="http://www.xxgc.edu.cn/bce/">生物工程学院</a>
                                                    <a href="http://www.xxgc.edu.cn/fse/">食品工程学院</a>
                                                    <a href="http://www.xxgc.edu.cn/ie/">信息工程学院</a>
                                                    <a href="http://www.haxk.edu.cn/chinese/">文法学院</a>
                                                    <a href="http://www.xxgc.edu.cn/m/">经济与管理学院</a>
                                                    <a href="http://www.xxgc.edu.cn/ee/">机电工程学院</a>
                                                    <a href="http://www.haxk.edu.cn/fll/">外国语学院</a>
                                                    <a href="http://www.xxgc.edu.cn/art/index.htm">艺术学院</a>
                                                </div>
                                            </div>
                                        </div>

                            </li>
                            <li class="dropdown nav-top py-5" id="movie">
                                <a href="#" class="dropdown-toggle on" data-toggle="dropdown">
                                    风光</a>
                                <ul class="dropdown-menu ">
                                    <li><a href="{% url 'movieApp:movie' %}">视频</a></li>
                                    <li><a href="{% url 'movieApp:photo' %}">风景</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-top py-5" id="news">
                                <a href="#" class="dropdown-toggle on" data-toggle="dropdown">
                                    新闻</a>
                                <ul class="dropdown-menu ">
                                    <li><a href="{% url 'newsApp:news' 'school' %}">学校新闻</a></li>
                                    <li><a href="{% url 'newsApp:news' 'notation' %}">通知公告</a></li>
                                    <li><a href="{% url 'newsApp:news' 'faculty' %}">院部公告</a></li>

                                </ul>
                            </li>
                            <li class="dropdown nav-top py-5" id="zhaosheng">
                                <a href="#" class="dropdown-toggle on" data-toggle="dropdown">
                                    招生</a>
                                <ul class="dropdown-menu ">
                                    <li><a href="{% url 'zhaosheng:news' 'company' %}">招生信息</a></li>
                                    <li> <a href="{% url 'zhaosheng:news' 'industry' %}">招生动态</a></li>
                                
                                </ul>
                            </li>
{#                            数字校园#}
                            <li class="dropdown nav-top py-5" id="system">
                                <a href="#" class="dropdown-toggle on" data-toggle="dropdown" style="padding: 13px 4px;">
                                    数字校园</a>
                                <ul class="dropdown-menu ">
                                    <li><a href="http://172.18.254.10:8010/">办公系统</a></li>
                                    <li><a href="http://172.18.254.12/jwweb/default.aspx">教务系统</a></li>
                                    <li><a href="http://www.xxgc.edu.cn/kyb/">科研系统</a></li>
                                    <li><a href="http://172.18.254.15/WFManager/login.jsp">财务系统</a></li>
                                    <li><a href="http://www.xxgc.edu.cn/lib/szzy2.htm">文献检索</a></li>
                                    <li><a href="http://www.xxgc.edu.cn/xgb/">学生工作</a></li>
                                    <li><a href="http://www.xxgc.edu.cn/lyb.jsp?urltype=tree.TreeTempUrl&wbtreeid=1062">校长邮箱</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
        <div class="col-md-2" style="left: 6%; top: -100px;width: 18%;">
                <a href="{% url 'home' %}">
                    <img alt="logo图片" class="img-logo" src="{% static 'img/logo-text.png' %}">
                </a>
            </div>
            <div class="col-md-2 logo_word1" >
                <a href="{% url 'home' %}">
                    <img alt="校" class="img-logo" src="{% static 'img/logo_word1.png' %}">
                </a>
            </div>
            <div class="col-md-2 logo_word2" >
                <a href="{% url 'home' %}">
                    <img alt="校" class="img-logo" src="{% static 'img/logo_word2.png' %}">
                </a>
            </div>
    </div>






   <!--主题内容部分-->
   <!-- 设置非主页轮播图 -->
   <div id="ad" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
      <li data-target="#ad" data-slide-to="0" class="active"></li>
      <li data-target="#ad" data-slide-to="1"></li>
      <li data-target="#ad" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 500px;">
      <div class="item active">
        <img src="{% static 'img/1.jpg' %}" alt="图片风景">
      </div>
      <div class="item">
        <img src="{% static 'img/2.jpg' %}" alt="图片风景">
      </div>
      <div class="item">
        <img src="{% static 'img/3.jpg' %}" alt="图片风景">
      </div>
    </div>
    <a class="left carousel-control" href="#ad" data-slide="prev"><span
        class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#ad" data-slide="next"><span
        class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  
  


<!-- 
    <div class="container-fluid">
    <div class="row" style="margin: -13px;">
        <img class="img-responsive model-img" src="{% static 'img/news.png' %}">
    </div>
    </div> -->



    {% block content %}{% endblock %}

    <!--设置各个页面的页脚内容  -->
   <!-- 页脚 -->






    <div class="container web-footer row navbar-default">
        <!-- 站点地图 -->

        <!-- 版权 -->
        <div class="row" id="patent-footer">
            <p> 地址：河南省新乡市新飞大道南段777号  新乡工程学院    豫ICP备2020031409号-1</p>
        </div>
    </div>

    {# Js部分#}

  </div>

   <script>
        $(function () {
            $(".dropdown").mouseover(function () {
                $(this).addClass("open");
            });

        });
    </script>
    <script type="text/JavaScript">
        $('#{{active_menu}}').addClass("active");
    </script>
</body>
</html>