{% extends 'base1.html' %}
{% load static %}
{% block title %}
    {{ newsName }}
{% endblock %}

{% block content %}

<link href="{% static 'css/news.css' %}" rel="stylesheet">


<!-- 主体内容 -->
<div class="container">
    <div class="row row-3">
        <!-- 侧边导航栏 -->
        <div class="col-md-3">
            <div class="model-title">
                新科新闻
            </div>
            <div class="model-list">
                <ul class="list-group">
                    <li class="list-group-item" id="school">
                        <a href="{% url 'newsApp:news' 'school' %}">学校新闻</a>
                    </li>
                    <li class="list-group-item" id="notation">
                        <a href="{% url 'newsApp:news' 'notation' %}">通知公告</a>
                    </li>
                    <li class="list-group-item" id="faculty">
                        <a href="{% url 'newsApp:news' 'faculty' %}">院部动态</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 说明文字和图片 -->
        <div class="col-md-9">
            <div class="model-details-title">
                {{newsName}}
            </div>
            <!-- 此处填入产品列表内容 -->
            <div class="model-details">
                {% for new in newsList %}
                <div class="row">
                    <div class="col-md-6">
                        {% for img in new.newsImgs.all %}
                        {% if forloop.first %}
                        <a href="{% url 'newsApp:newsDetail' new.id %}" class="thumbnail row-4">
                            <img class="img-responsive model-img" src="{{img.photo.url}}" alt="图片">
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <h3>{{ new.title|truncatechars:"50" }}</h3>
                        <p>{{ new.description|truncatechars:"90"|linebreaks }}</p>
                        <div class="thumbnail row-5">
                            <div class="caption">
                                <a href="{% url 'newsApp:newsDetail' new.id %}" class="btn btn-primary" role="button">
                                    <b>点击查看</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

             {% if pageData %}
                <div class="paging">
                    <ul id="pages" class="pagination pagination-sm pagination-xs">
                        {% if pageData.first %}
                        <li><a href="?page=1">1</a></li>
                        {% endif %}
                        {% if pageData.left %}
                        {% if pageData.left_has_more %}
                        <li><span>...</span></li>
                        {% endif %}
                        {% for i in pageData.left %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                        {% endif %}
                        <li class="active"><a href="?page={{pageData.page}}">{{pageData.page}}</a></li>
                        {% if pageData.right %}
                        {% for i in pageData.right %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                        {% if pageData.right_has_more %}
                        <li><span>...</span></li>
                        {% endif %}
                        {% endif %}
                        {% if pageData.last %}
                        <li><a href="?page={{pageData.total_pages}}">{{pageData.total_pages}}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{#    传递使侧边可以点击响应#}
<script type="text/JavaScript">
    $('#{{sub_menu}}').addClass("active");
</script>

{% endblock %}